html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.css-8je8zh-MuiTouchRipple-root {
  overflow: visible;
}

.span{
  overflow: 'visible' !important;
}

.backgroundNosotros{
  background: linear-gradient(to right,#2EA082,#2EA082,#2EA082,#477979,#334444,#334444,#334444);
  /*background-image: url('../public/backgroundNosotros.jpg');*/
}

.imgNosotros{
  opacity: 0.6;
  
  
}

.menu-cross{
  background:'black';
  height:'2px';
  width:'100%';
  borderRadius: 5px;
  transition: 'all .5s';
  transformOrigin:'left';
}
/* RESPONSIVE WEB */


/*******************************************************NAVBAR*******************************************/
@media (max-width:1400px){
      .typeOfUseField {
        width: 79%;
      }
}

@media (max-width:400px){
  .typeOfUseField {
    width: 52%;
    margin-left:18%;
    margin-top:3%
  }
}
/****************************************FIN RESPONSIVE NAVBAR*******************************************/
